{% extends 'auth_base.html' %}
{% load static %}
{% block title %}Logout{% endblock %}

{% block content %}
<img src="{% static 'images/logo2.png' %}" style="max-width: 300px; max-height: 250px; display: block; margin: auto; margin-bottom: 3px;">

<p>Logged out successfully</p>
<form action="{% url 'Dashboard' %}" method="post" id="frm">
    {% csrf_token %}
    <div class="row justify-content-center">
    <div class="col-auto">
        <button type="submit" class="btn btn-primary" style="background-color: #FF914E;">Login</button>
    </div>
</div>
</form>
{% endblock %}