* {
    font-family: 'Alef';
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #F6F8FA;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0px;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    min-width: 1440px;
    width: 100%;
    height: 100px;
}

#logo {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;

    width: 270px;
    height: 100%;
}

nav {
    background-color: #FF914E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    height: 100%;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255, 0.6);
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffffff;
}

li.selected a {
    color: #ffffff;
}

.menu {
    font-size: 24px;
}

.menu-margin {
    margin-right: 20px;
}

.jack {
    border-radius: 50%;
}

nav img {
    width: 47px;
    height: 47px;
}

.plans_wrapper {
    display: flex;
    flex-direction: column;

    margin-top: 10%;
    width: 100%;
    height: 100%;
}

.plans_wrapper>div {
    margin-left: 5%;
}

.plans_holder {
    display: flex;
    flex-wrap: wrap;

    min-height: 400px;
    min-width: 1330px;
}

.plan {
    background-color: #EEEEEE;
    width: 465px;
    height: 310px;
    margin-bottom: 50px;
    margin-right: 200px;
    border-radius: 20px;
}

.crop {
    width: 465px;
    height: 216px;
    overflow: hidden;
}

.plans_wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.plans_wrapper h2 {
    margin-top: 5px;
    margin-left: 10px;
}

.plan_title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 465px;
    height: 94px;
}

.plan_bottom {
    width: 465px;
    height: 94px;
}

.bar_white {
    position: relative;
    left: 1px;

    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    height: 14px;
}

.bar_white.fill_98 {
    width: 2%;
}

.bar_white.fill_92 {
    width: 8%;
}

.bar_white.fill_88 {
    width: 12%;
}

.bar_white.fill_80 {
    width: 20%;
}

.bar_white.fill_67 {
    width: 33%;
}

.bar_white.fill_54 {
    width: 46%;
}

.bar_white.fill_30 {
    width: 70%;
}

.bar_blue {
    display: flex;
    justify-content: flex-end;

    background-color: #FF914E;
    color: #FF914E;

    width: 436px;
    height: 14px;
    border-radius: 10px;
    margin-left: 15px;
}

.btn.theme-color {
    background-color: #FF914E;
    border-color: #FF914E;
}

.btn.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-sort-down,
.bi-sort-up {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit; /* Preserve the color of the icon */
}

.image-option {
  display: inline-block;
}

.selected-card {
    border: 2px solid #54AE58;
}

.selected-card::before {
    content: '\2713';
    position: absolute;
    right: 5px;
    color: #54AE58;
    font-size: 20px;
    border-radius: 50%;
    background-color: transparent;
    padding: 5px;
}

.fit {
    width: fit-content;
    height: fit-content;
}

.image-option input[type="radio"] {
  display: none;
}

.image-option img {
  width: 200px;
  height: 210px;
  border: 2px solid transparent;
}

.bar_blue p {
    position: relative;
    top: -22px;
}

.plan_text_holder {
    width: 80%;
}

.plan_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.exercises_list_div {
    width: 95%;
}

.exercises_list_div ul {
    margin-left: 7%;
}

.plan_bottom form {
    height: 72%;
}

.plan_text_div {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.text_decorator {
    position: absolute;
    top: 20px;
    background-color: white;
    height: 3px;
    width: 100%;
}

.button_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.submit_button {
    color: white;
    background-color: #FF914E;
    border-radius: 30px;
    font-size: 100%;
    width: 30%;
    height: 50%;
    margin-bottom: 2%;
}

/* Styles for mobile */
@media screen and (max-width: 768px) {
    #logo {
        position: fixed;
        width: 100%;
        height: 13.6%;
        background-image: url(../images/logo2.png);
    }

    header {
        position: fixed;
        top: unset;
        bottom: 0;
        min-width: 0px;
        height: unset;
    }

    .menu {
        font-size: 14px;
    }

    nav img {
        width: 26px;
        height: 26px;
    }

    .plans_wrapper {
        margin-top: 31%;
        margin-bottom: 10%;
    }

    .plans_holder {
        min-height: 0;
        min-width: 0;
    }

    .crop {
        width: 100%;
        margin: 0 0;
    }

    .plan {
        width: 95%;
        height: 5%;
        margin-right: 0;
    }

    .plan_bottom {
        width: 100%;

    }

    .plan_title {
        width: 100%;

    }

    .bar_blue {
        width: 93%;
    }
}