* {
    font-family: 'Alef';
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #F6F8FA;
    height: 100%;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}

header {
    position: fixed;
    top: 0px;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    min-width: 1440px;
    width: 100%;
    height: 100px;
}

#logo {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;

    width: 270px;
    height: 100%;
}

nav {
    background-color: #FF914E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    height: 100%;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255, 0.6);
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffffff;
}

li.selected a {
    color: #ffffff;
}

.menu {
    font-size: 24px;
}

.menu-margin {
    margin-right: 20px;
}

.jack {
    border-radius: 50%;
}

nav img {
    width: 47px;
    height: 47px;
}

.btn.theme-color {
    background-color: #FF914E;
    border-color: #FF914E;
}

.btn.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-left-5 {
    margin-left: 5px;
}

.logout {
    position: absolute;
    right: 10px;
    top: 7px;
}

.bi-sort-down,
.bi-sort-up {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit; /* Preserve the color of the icon */
}

.image-option {
  display: inline-block;
}

.selected-card {
    border: 2px solid #54AE58;
}

.round-btn {
    border-radius: 20px; /* Adjust the border-radius to your desired value */
    width: 200px; /* Adjust width and height as needed */
    height: 50px; /* Adjust width and height as needed */
    background-color: #54AE58; /* Your desired color */
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.round-btn-outlined {
    border-radius: 20px; /* Adjust the border-radius to your desired value */
    width: 200px; /* Adjust width and height as needed */
    height: 50px; /* Adjust width and height as needed */
    background-color: transparent; /* Set background color to transparent */
    color: #54AE58; /* Text color */
    border: 2px solid #54AE58; /* Outlined border */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Remove default link underline */
}

.selected-card::before {
    content: '\2713';
    position: absolute;
    right: 5px;
    color: #54AE58;
    font-size: 20px;
    border-radius: 50%;
    background-color: transparent;
    padding: 5px;
}

.fit {
    width: fit-content;
    height: fit-content;
}

.chevron {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.image-option input[type="radio"] {
  display: none;
}
.minimap {
        height: 400px; /* Adjust the height as needed */
        width: 100%;   /* Set the width to 100% to fill the parent container */
}
.image-option img {
  width: 200px;
  height: 210px;
  border: 2px solid transparent;
}


/* Styles for mobile */
@media screen and (max-width: 768px) {
    #logo {
        position: fixed;
        width: 100%;
        height: 13.6%;
        background-image: url(../images/logo2.png);
    }

    header {
        position: fixed;
        top: unset;
        bottom: 0;
        min-width: 0px;
        height: unset;
    }

    .menu {
        font-size: 14px;
    }

    nav img {
        width: 26px;
        height: 26px;
    }

    .plans_wrapper {
        margin-top: 31%;
        margin-bottom: 10%;
    }

    .plans_holder {
        min-height: 0;
        min-width: 0;
    }

    .crop {
        width: 100%;
        margin: 0 0;
    }

    .plan {
        width: 95%;
        height: 5%;
        margin-right: 0;
    }

    .plan_bottom {
        width: 100%;

    }

    .plan_title {
        width: 100%;

    }

    .bar_blue {
        width: 93%;
    }
}