{% extends 'base_template.html' %}
{% load static %}
{% block extra_head %}
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAJaQ8UygIKkx88v4MDq-YYnLDPLPpg8s&callback=initMap&v=weekly"
            defer></script>

{% endblock %}
{% block title %}Api{% endblock %}

{% block content %}
<br><br><br><br><br><br><br>
<div id="map" ></div>
<button id="saveB">confirm</button>


{% endblock %}
