<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/logo_title.png' %}" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alef">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    {% block extra_head %}
    {% endblock %}
    <title>{% block title %}Template{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <a href="#" id="logo"></a>
        <nav>
            <ul>
                {% block menu_item1 %}
                <li class="menu"><a href="#"><img src="{% static 'images/history.png' %}" alt="History">History</a></li>
                {% endblock %}
                {% block menu_item2 %}
                <li class="menu"><a href="#"><img src="{% static 'images/dashboard.svg' %}" alt="Dashboard">Dashboard</a></li>
                {% endblock %}
                {% block menu_item3 %}
                <li class="menu"><a href="#"><img src="{% static 'images/hourglass.png' %}" alt="Pending Requests">Pending Requests</a></li>
                {% endblock %}
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer></footer>
</body>

</html>
