{% extends 'base_template.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block menu_item2 %}
<li class="selected menu"><a href="#"><img src="{% static 'images/dashboard_fill.svg' %}" alt="Dashboard">Dashboard</a></li>
{% endblock %}

{% block content %}
    <br><br><br><br><br>
    <article>
        <aside class="info" id="basicInfo"></aside>
        <label>Compleated Requests</label>
        <aside class="info" id="compleatedInfo"></aside>
        <br>
        <aside class="info" id="userInfo"></aside>
        <label>Pending Requests</label>
        <aside class="info" id="pendingInfo"></aside>
    </article>
    <button id="newRequest">New Request</button>
{% endblock %}