{% extends 'base_template.html' %}
{% load custom_filters %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="{% static 'js/button.js' %}"></script>
{% endblock %}
{% block title %}Manual Donation{% endblock %}

{% block menu_item2 %}
<li class="selected menu"><a href="{% url 'Dashboard' %}"><img src="{% static 'images/dashboard_fill.svg' %}" alt="Dashboard">Dashboard</a></li>
{% endblock %}

{% block content %}
    <br><br><br><br><br>
    <div class="container">
        <h1 class="text-center mb-4">Request List</h1>
        <div class="d-flex justify-content-center gap-2 mx-auto mt-2 align-items-center">
            <button id="sortButton" class="bi bi-sort-down my-auto"></button>
            <button class="{% if sort_value == 'date' %}btn btn-secondary{% else %}btn btn-outline-secondary{% endif %}"
                    onclick="window.location.href='/main/manual/?{% if filters %}{% for filter in filters %}&filter={{ filter }}{% endfor %}{% endif %}&sort_value=date&sort_direction=down'">Date
            </button>
            <i class="bi bi-funnel my-auto"></i>
            <div class="btn-group">
                <button type="button" class="btn {% if filters|contains_substring:'area_' %}btn-secondary{% else %}btn-outline-secondary{% endif %} dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Area
                </button>
                <ul class="dropdown-menu">
                    {% for area in areas %}
                    <li>
                        <input class="margin-left-5" type="checkbox" id="{{ area }}" name="area" value="area_{{ area }}" {% if 'area_'|add:area in filters %}checked{% endif %}>
                        <label for="{{ area }}">{{ area }}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn {% if filters|contains_substring:'type_' %}btn-secondary{% else %}btn-outline-secondary{% endif %} dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Type
                </button>
                <ul class="dropdown-menu">
                    {% for type_name in type_names %}
                    <li>
                        <input class="margin-left-5" type="checkbox" id="{{ type_name }}" name="type" value="type_{{ type_name }}" {% if 'type_'|add:type_name in filters %}checked{% endif %}>
                        <label for="{{ type_name }}">{{ type_name }}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn {% if filters|contains_substring:'unit_' %}btn-secondary{% else %}btn-outline-secondary{% endif %} dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Unit
                </button>
                <ul class="dropdown-menu">
                    {% for unit_name in units %}
                    <li>
                        <input class="margin-left-5" type="checkbox" id="{{ unit_name }}" name="unit" value="unit_{{ unit_name }}" {% if 'unit_'|add:unit_name in filters %}checked{% endif %}>
                        <label for="{{ unit_name }}">{{ unit_name }}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn {% if filters|contains_substring:'item_' %}btn-secondary{% else %}btn-outline-secondary{% endif %} dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Item Type
                </button>
                <ul class="dropdown-menu fit">
                    {% for item_type_name in item_types %}
                    <li>
                        <input class="margin-left-5" type="checkbox" id="{{ item_type_name }}" name="item_type" value="item_{{ item_type_name }}" {% if 'item_'|add:item_type_name in filters %}checked{% endif %}>
                        <label for="{{ item_type_name }}">{{ item_type_name }}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% if filters %}
            <button class="btn btn-outline-danger btn-xs" onclick="window.location.href='/main/manual{% if sort_value %}?sort_value={{ sort_value }}&sort_direction={{ sort_direction }}{% endif %}'">x</button>
            {% endif %}
            <button class="btn btn-primary theme-color" id="applyFilterBtn">Apply </button>
        </div>


        <br>
        <div class="justify-content-center">
            {% for request in requests %}
            <div class="col-md-6 mb-4 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Request ID: {{ request.requests_id }}</h5>
                        <p class="card-text">Status: {{ request.requests_status.request_status_name }}</p>
                        <p class="card-text">Donor: {{ request.donate_user.first_name }} {{ request.donate_user.last_name }}</p>
                        <p class="card-text">Requester: {{ request.requestor.first_name }} {{ request.requestor.last_name }}</p>
                        <p class="card-text">Location: {{ request.area }} <a href="https://www.google.com/maps/place/{{ request.location_lat }}{{ request.location_long }}" target="_blank"><i class="bi bi-geo-alt"></i></a></p>                        <p class="card-text">Information: {{ request.info }}</p>
                        <p class="card-text">Type: {% if request.type_id == 1 %}Food{% else %}Equipment{% endif %}</p>
                        <p class="card-text">Item Type: {{ request.item_type.description }}</p>
                        <p class="card-text">Unit: {{ request.unit }}</p>
                        <p class="card-text">Date: {{ request.date }}</p>
                        <p class="card-text">Time: {{ request.time }}</p>
                        <p class="card-text">Schedule Date: {{ request.schedule_date }}</p>
                        <p class="card-text">Schedule Time: {{ request.schedule_time }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}